@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");

$font-family-marcellus: "Marcellus", serif;

$primary-color: #151720;
$secondary-color: #a3ff12;

$error-red: #fb5b53;

$white: #ffffff;
